
<div>
  <h1 class="page-header" center=> APICurious - Github </h1>
  <h2 class="page-header"><%= @presenter.user.username %> </h2>
</div>

  <div>
  <h2>Activity Feed</h2>
      <table class="table-bordered">
        <tr>
        <th>Who</th>
        <th>Repository</th>
        <th>Event Type</th>
      </tr>
    <% @presenter.received_events.each do |event| %>
      <tr>
        <td><%= event.actor["login"] %></td>
        <td><%= event.repo["name"] %></td>
        <td><%= event.type %></td>
      </tr>
    <% end %>
  </table>
</div>
