<h1 class="home"> Welcome, You're Authorized </h1>
  <h2 class="home"> <%= @user.username %> </h2>

<ul> <% @query.followers.each do |follower| %>
  <li> <%= follower %></li>
<% end %>
</ul>

<%= link_to "Logout", logout_path %>