<h1 class="home"> Welcome, You're Authorized </h1>
  <h2 class="home"> <%= @presenter.user.username %> </h2>

<ul> <% @presenter.followers.each do |follower| %>
  <li> <%= follower.login %></li>
<% end %>
</ul>

<%= link_to "Logout", logout_path %>