<h1 class="home"> Welcome to Your Github Portal </h1>
<h2 class="home"> Access All Your Github Profile Via An API </h2>
<%= link_to "Login with Github", "http://github.com/login/oauth/authorize?client_id=#{@client_id}&scope=repo" %>

