---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/maxglassie?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1490195833'
      Etag:
      - W/"600654f398565466a0b122540611d219"
      Last-Modified:
      - Mon, 20 Mar 2017 17:23:20 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"maxglassie","id":19553401,"avatar_url":"https://avatars2.githubusercontent.com/u/19553401?v=3","gravatar_id":"","url":"https://api.github.com/users/maxglassie","html_url":"https://github.com/maxglassie","followers_url":"https://api.github.com/users/maxglassie/followers","following_url":"https://api.github.com/users/maxglassie/following{/other_user}","gists_url":"https://api.github.com/users/maxglassie/gists{/gist_id}","starred_url":"https://api.github.com/users/maxglassie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/maxglassie/subscriptions","organizations_url":"https://api.github.com/users/maxglassie/orgs","repos_url":"https://api.github.com/users/maxglassie/repos","events_url":"https://api.github.com/users/maxglassie/events{/privacy}","received_events_url":"https://api.github.com/users/maxglassie/received_events","type":"User","site_admin":false,"name":"Max
        Glassie","company":null,"blog":null,"location":null,"email":null,"hireable":true,"bio":"student
        at turing.io","public_repos":34,"public_gists":4,"followers":5,"following":5,"created_at":"2016-05-24T13:43:54Z","updated_at":"2017-03-20T17:23:20Z"}'
  recorded_at: Wed, 22 Mar 2017 14:22:19 GMT
recorded_with: VCR 3.0.3
