---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/maxglassie/followers?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4631'
      X-Ratelimit-Reset:
      - '1490192223'
      Etag:
      - W/"a1e74e9d2a6ac0631b9c388cff395531"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Carmer","id":9501766,"avatar_url":"https://avatars0.githubusercontent.com/u/9501766?v=3","gravatar_id":"","url":"https://api.github.com/users/Carmer","html_url":"https://github.com/Carmer","followers_url":"https://api.github.com/users/Carmer/followers","following_url":"https://api.github.com/users/Carmer/following{/other_user}","gists_url":"https://api.github.com/users/Carmer/gists{/gist_id}","starred_url":"https://api.github.com/users/Carmer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Carmer/subscriptions","organizations_url":"https://api.github.com/users/Carmer/orgs","repos_url":"https://api.github.com/users/Carmer/repos","events_url":"https://api.github.com/users/Carmer/events{/privacy}","received_events_url":"https://api.github.com/users/Carmer/received_events","type":"User","site_admin":false},{"login":"meyerhoferc","id":12058063,"avatar_url":"https://avatars2.githubusercontent.com/u/12058063?v=3","gravatar_id":"","url":"https://api.github.com/users/meyerhoferc","html_url":"https://github.com/meyerhoferc","followers_url":"https://api.github.com/users/meyerhoferc/followers","following_url":"https://api.github.com/users/meyerhoferc/following{/other_user}","gists_url":"https://api.github.com/users/meyerhoferc/gists{/gist_id}","starred_url":"https://api.github.com/users/meyerhoferc[...]
