---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/maxglassie/repos?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4630'
      X-Ratelimit-Reset:
      - '1490192223'
      Etag:
      - W/"8159fceb7011bb994f9295a3b230c937"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/19553401/repos?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4&page=2>;
        rel="next", <https://api.github.com/user/19553401/repos?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":78128694,"name":"advanced_enums","full_name":"maxglassie/advanced_enums","owner":{"login":"maxglassie","id":19553401,"avatar_url":"https://avatars2.githubusercontent.com/u/19553401?v=3","gravatar_id":"","url":"https://api.github.com/users/maxglassie","html_url":"https://github.com/maxglassie","followers_url":"https://api.github.com/users/maxglassie/followers","following_url":"https://api.github.com/users/maxglassie/following{/other_user}","gists_url":"https://api.github.com/users/maxglassie/gists{/gist_id}","starred_url":"https://api.github.com/users/maxglassie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/maxglassie/subscriptions","organizations_url":"https://api.github.com/users/maxglassie/orgs","repos_url":"https://api.github.com/users/maxglassie/repos","events_url":"https://api.github.com/users/maxglassie/events{/privacy}","received_events_url":"https://api.github.com/users/maxglassie/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/maxglassie/advanced_enums","description":null,"fork":true,"url":"https://api.github.com/repos/maxglassie/advanced_enums","forks_url":"https://api.github.com/repos/maxglassie/advanced_enums/forks","keys_url":"https://api.github.com/repos/maxglassie/advanced_enums/keys{/key_id}","collaborators_url":"https://api.github.com/repos/maxglassie/advanced_enums/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/maxglassie/advanced_enums/teams","hooks_url":"https://api.github.com/repos/maxglassie/advanced_enums/hooks","issue_events_url":"https://api.github.com/repos/maxglassie/advanced_enums/issues/events{/number}","events_url":"https://api.github.com/repos/maxglassie/advanced_enums/events","assignees_url":"https://api.github.com/repos/maxglassie/advanced_enums/assignees{/user}","branches_url":"https://api.github.com/repos/maxglassie/advanced_enums/branches{/branch}","tags_url":"https://api.github.com/repos/maxglassie/advanced_enums/tags","blobs_url":"https://api.github.com/repos/maxglassie/advanced_enums/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/maxglassie/advanced_enums/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/maxglassie/advanced_enums/git/refs{/sha}","trees_url":"https://api.github.com/repos/maxglassie/advanced_enums/git/trees{/sha}","statuses_url":"https://api.github.com/repos/maxglassie/advanced_enums/statuses/{sha}","languages_url":"https://api.github.com/repos/maxglassie/advanced_enums/languages","stargazers_url":"https://api.github.com/repos/maxglassie/advanced_enums/stargazers","contributors_url":"https://api.github.com/repos/maxglassie/advanced_enums/contributors","subscribers_url":"https://api.github.com/repos/maxglassie/advanced_enums/subscribers","subscription_url":"https://api.github.com/repos/maxglassie/advanced_enums/subscription","commits_url":"https://api.github.com/repos/maxglassie/advanced_enums/commits{/sha}","git_commits_url":"https://api.github.com/repos/maxglassie/advanced_enums/git/commits{/sha}","comments_url":"https://api.github.com/repos/maxglassie/advanced_enums/comments{/number}","issue_comment_url":"https://api.github.com/repos/maxglassie/advanced_enums/issues/comments{/number}","contents_url":"https://api.github.com/repos/maxglassie/advanced_enums/contents/{+path}","compare_url":"https://api.github.com/repos/maxglassie/advanced_enums/compare/{base}...{head}","merges_url":"https://api.github.com/repos/maxglassie/advanced_enums/merges","archive_url":"https://api.github.com/repos/maxglassie/advanced_enums/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/maxglassie/advanced_enums/downloads","issues_url":"https://api.github.com/repos/maxglassie/advanced_enums/issues{/number}","pulls_url":"https://api.github.com/repos/maxglassie/advanced_enums/pulls{/number}","milestones_url":"https://api.github.com/repos/maxglassie/advanced_enums/milestones{/number}","notifications_url":"https://api.github.com/repos/maxglassie/advanced_enums/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/maxglassie/advanced_enums/labels{/name}","releases_url":"https://api.github.com/repos/maxglassie/advanced_enums/releases{/id}","deployments_url":"https://api.github.com/repos/maxglassie/advanced_enums/deployments","created_at":"2017-01-05T16:19:58Z","updated_at":"2017-01-05T16:20:00Z","pushed_at":"2017-01-05T17:18:43Z","git_url":"git://github.com/maxglassie/advanced_enums.git","ssh_url":"git@github.com:maxglassie/advanced_enums.git","clone_url":"https://github.com/maxglassie/advanced_enums.git","svn_url":"https://github.com/maxglassie/advanced_enums","homepage":null,"size":5,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":85657821,"name":"apicurious","full_name":"maxglassie/apicurious","owner":{"login":"maxglassie","id":19553401,"avatar_url":"https://avatars2.githubusercontent.com/u/19553401?v=3","gravatar_id":"","url":"https://api.github.com/users/maxglassie","html_url":"https://github.com/maxglassie","followers_url":"https://api.github.com/users/maxglassie/followers","following_url":"https://api.github.com/users/maxglassie/following{/other_user}","gists_url":"https://api.github.com/users/maxglas[...]
