---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/maxglassie/events?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4624'
      X-Ratelimit-Reset:
      - '1490192223'
      Etag:
      - W/"e81954541c49f3db2858a8bfc229c07a"
      Last-Modified:
      - Wed, 22 Mar 2017 13:36:57 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/19553401/events?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4&page=2>;
        rel="next", <https://api.github.com/user/19553401/events?client_id=d431118b5d9d09b5e817&client_secret=dcb396b9363767ff2653bea4503e4b4ebd4018e4&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5541740255","type":"IssuesEvent","actor":{"id":19553401,"login":"maxglassie","display_login":"maxglassie","gravatar_id":"","url":"https://api.github.com/users/maxglassie","avatar_url":"https://avatars.githubusercontent.com/u/19553401?"},"repo":{"id":85657821,"name":"maxglassie/apicurious","url":"https://api.github.com/repos/maxglassie/apicurious"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/maxglassie/apicurious/issues/9","repository_url":"https://api.github.com/repos/maxglassie/apicurious","labels_url":"https://api.github.com/repos/maxglassie/apicurious/issues/9/labels{/name}","comments_url":"https://api.github.com/repos/maxglassie/apicurious/issues/9/comments","events_url":"https://api.github.com/repos/maxglassie/apicurious/issues/9/events","html_url":"https://github.com/maxglassie/apicurious/issues/9","id":215857101,"number":9,"title":"Design:
        draw out pages \"github_api_response\" for functionality","user":{"login":"maxglassie","id":19553401,"avatar_url":"https://avatars2.githubusercontent.com/u/19553401?v=3","gravatar_id":"","url":"https://api.github.com/users/maxglassie","html_url":"https://github.com/maxglassie","followers_url":"https://api.github.com/users/maxglassie/followers","following_url":"https://api.github.com/users/maxglassie/following{/other_user}","gists_url":"https://api.github.com/users/maxglassie/gists{/gist_id}","starred_url":"https://api.github.com/users/maxglassie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/maxglassie/subscriptions","organizations_url":"https://api.github.com/users/maxglassie/orgs","repos_url":"https://api.github.com/users/maxglassie/repos","events_url":"https://api.github.com/users/maxglassie/events{/privacy}","received_events_url":"https://api.github.com/users/maxglassie/received_events","type":"User","site_admin":false},"labels":[{"id":566073254,"url":"https://api.github.com/repos/maxglassie/apicurious/labels/in%20progress","name":"in
        progress","color":"ededed","default":false}],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-03-21T19:48:03Z","updated_at":"2017-03-22T13:36:57Z","closed_at":"2017-03-22T13:36:57Z","body":"Github
        API Response\n\n{\"login\"=>\"maxglassie\",\n \"id\"=>19553401,\n \"avatar_url\"=>\"https://avatars2.githubusercontent.com/u/19553401?v=3\",\n
        \"gravatar_id\"=>\"\",\n \"url\"=>\"https://api.github.com/users/maxglassie\",\n
        \"html_url\"=>\"https://github.com/maxglassie\",\n \"followers_url\"=>\"https://api.github.com/users/maxglassie/followers\",\n
        \"following_url\"=>\"https://api.github.com/users/maxglassie/following{/other_u[...]
